PORT=8787
DATA_DIR=./data

ALERTS_TOKEN=
CLIENT_KEY=
ADMIN_KEY=
UKRAINEALARM_TOKEN=
UKRAINEALARM_WEBHOOK_PATH=
UKRAINEALARM_WEBHOOK_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
KAGGLE_TOKEN=
KAGGLE_USERNAME=
KAGGLE_KEY=
